@tailwind base;
@tailwind components;
@tailwind utilities;

.edit{
    color: rgb(94, 21, 125);
    font-size: 20px;
}

.edit:hover{
    transform: scale(1.1)!important;

}
.delete{
    color: red;
    font-size: 20px;
}
.create-create{
    background-color: rgb(51, 51, 193);
}

.search:hover,
.create-create:hover,
.show:hover,
.ichiran :hover,
.delete:hover{
    transform: scale(1.1)!important;

}

@media only screen and (max-width: 767px) {
    .work-list {
        order: 2;
        margin-bottom: 30px;
    }
    .container-box{
        margin-left: 0;
    }
    .mokuhyou-box{
        height: 200px;
    }
    
  }

  @media only screen and (max-width: 992px) {
    
    .mokuhyou-box{
        height: 150px;
    }
    
  }
